@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(180deg, rgba(170, 6, 16, 1) 65%, rgba(200, 7, 18, 1) 100%);
}

.carro {
    color: white;
    text-align: center;
}

.form {
    background-color: white;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
}

.img-carro {
    width: 90%;
}

p {
    font-weight: bold;
}

select {
    background-color: #EEF4F7;
    height: 48px;
    width: 100%;
    border-radius: 3px;
    border: none;
}

input {
    background-color: #EEF4F7;
    height: 48px;
    width: 100%;
    border-radius: 3px;
    border: none;
}

.codiciones {
    color: #6C757D;
    font-weight: normal;
}

.btn-cotiza {
    background-color: #00A840;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    font-weight: bolder;
    font-size: 35px;

}

.banorte-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    border-radius: 20px;
    height: 80px;
    width: 200px;
}

.logo-ahorra-color {
    height: 35px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-ahorra-color img {
    height: 35px;
    width: 200px;
}

.telefono-seguro {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}